html, body {
  font-size: var(--sn-stylekit-base-font-size);
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.sn-component {
  user-select: auto !important;

  .sk-button-group .sk-button {
    vertical-align: middle;
    user-select: none;
  }
}

.context-options {
  margin-bottom: 10px;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0px;
  border-color: var(--sn-stylekit-border-color);
  margin-bottom: 15px;
  table-layout: fixed;

  th, td {
    padding: 6px 13px;
    border: 1px solid var(--sn-stylekit-border-color);
    overflow-x: scroll;
  }

  tr:nth-child(2n) {
    background-color: var(--sn-stylekit-contrast-background-color);
  }
}

.sk-panel-table-item {
  &.selected {
    background-color: var(--sn-stylekit-info-color);
    color: var(--sn-stylekit-info-contrast-color);
  }
  .selection-column {
    width: 1% !important;
    label {
      text-align: center;
    }
  }
  .content-body {

    &.expanded {
      max-height: none;
    }

    max-height: 100px;
    overflow-y: scroll;

    .sk-panel-table-content-item {
      margin-top: 4px;
      margin-bottom: 8px;

      .body {
        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
    }
  }
}

tr {
  border: 1px solid gray;
}

.categories-options {
  border-bottom: 1px solid var(--sn-stylekit-border-color);
  padding-bottom: 15px !important;
  margin-bottom: 5px;
}

#backups {
  padding: 0;
  margin: 0;
  height: 100%;

  #drop-container {
    padding: 0;
    margin-top: 20px;
    height: 60%;
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;

    text-align: center;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    #file-input {
      width: auto;
      text-align: center;
      margin-top: 15px;
    }

    #password-input {
      border-radius: 0px;
      margin-top: 10px;
      font-size: 15px;
    }

    .uploading {
      display: none;
    }

    &.is-dragover {
      background-color: rgba(gray, 0.10);
      cursor: crosshair;
    }

    &.is-uploading {
      .uploading {
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        width: 100%;
        height: 100%;
      }

      .instructions-label {
        display: none;
      }
    }
  }

}

@import '~stylekit';
